name: 05 - 2 - Event Filters and Activity Types
on: 
    pull_request:
        types: [closed]
        branches:
            - main
jobs:
    echo-hello:
        runs-on: ubuntu-latest
        steps:
            - name: Show message
              run: echo "Running whenever a PR is closed."
